# Disable Samsung anti-root protection
CONFIG_UH=n
CONFIG_UH_DEBUG=n
CONFIG_UH_RKP=n
CONFIG_UH_RKP_8G=n
CONFIG_RKP_KDP=n
CONFIG_RKP_NS_PROT=n
CONFIG_RKP_DMAP_PROT=n

CONFIG_RKP_CFP_JOPP=n
CONFIG_RKP_CFP_JOPP_MAGIC=n

CONFIG_SECURITY_DEFEX=n
CONFIG_FIVE=n
CONFIG_PROCA=n

# Local Version
CONFIG_LOCALVERSION="-GoRhanHee_Kernel_exynos9810"
CONFIG_LOCALVERSION_AUTO=n

# Cooking dtb.img
CONFIG_EXYNOS_DTBTOOL=y

# Enable OverlayFS
CONFIG_OVERLAY_FS=y

# Default Disabled KernelSU
CONFIG_KSU=n